extends layouts/main
include mixins/videoBlock

block content
    .videos
        each temp in videos     
            +videoBlock({
                title:temp.title,
                views:temp.views,
                videoFile:temp.videoFile
            })