extends layouts/main
include mixins/videoBlock

block content
    .search__header
        h3 Serching for #{searchingBy} 
    .search__videos
        each temp in videos     
            +videoBlock({
                title:temp.title,
                views:temp.views,
                videoFile:temp.videoFile
            })